
@font-face {
  font-family: 'retro_computer_personal_use';
  src: local('retro_computer_personal_use'), url(./assets/fonts/retro_computer_personal_use.ttf) format('truetype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

body {
  margin: 0;
  font-family:'retro_computer_personal_use';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
